// . nav navbar-nav ml-auto
#top_menu  {

    color: white;

}
// .collapse navbar-collapse order-last order-lg-0
#top_menu_collapse  {
    padding-left: 450px !important;
}

// .container justify-content-start justify-content-lg-between
#top_menu_container {
    margin-left: 65px;
}